RxAsyncConsole/Service References/AsyncWorkerServiceReference/AsyncWorkerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AsyncWorkerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53992/Services/AsyncWorkerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53992/Services/AsyncWorkerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAsyncWorkerService_GetData1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData1" />
  </wsdl:message>
  <wsdl:message name="IAsyncWorkerService_GetData1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetData1Response" />
  </wsdl:message>
  <wsdl:message name="IAsyncWorkerService_GetData2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData2" />
  </wsdl:message>
  <wsdl:message name="IAsyncWorkerService_GetData2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetData2Response" />
  </wsdl:message>
  <wsdl:message name="IAsyncWorkerService_GetData3_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData3" />
  </wsdl:message>
  <wsdl:message name="IAsyncWorkerService_GetData3_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetData3Response" />
  </wsdl:message>
  <wsdl:portType name="IAsyncWorkerService">
    <wsdl:operation name="GetData1">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsyncWorkerService/GetData1" message="tns:IAsyncWorkerService_GetData1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsyncWorkerService/GetData1Response" message="tns:IAsyncWorkerService_GetData1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData2">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsyncWorkerService/GetData2" message="tns:IAsyncWorkerService_GetData2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsyncWorkerService/GetData2Response" message="tns:IAsyncWorkerService_GetData2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData3">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsyncWorkerService/GetData3" message="tns:IAsyncWorkerService_GetData3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsyncWorkerService/GetData3Response" message="tns:IAsyncWorkerService_GetData3_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAsyncWorkerService" type="tns:IAsyncWorkerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData1">
      <soap:operation soapAction="http://tempuri.org/IAsyncWorkerService/GetData1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData2">
      <soap:operation soapAction="http://tempuri.org/IAsyncWorkerService/GetData2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData3">
      <soap:operation soapAction="http://tempuri.org/IAsyncWorkerService/GetData3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsyncWorkerService">
    <wsdl:port name="BasicHttpBinding_IAsyncWorkerService" binding="tns:BasicHttpBinding_IAsyncWorkerService">
      <soap:address location="http://localhost:53992/Services/AsyncWorkerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>